@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


.xd {
  text-align: center;
}
.kontener {
  width: 1000px;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
input {
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #141e30;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

legend {
  font-size: 30px;
  color: #4a3f3e;
  padding: 15px;
}

fieldset {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 90%;
  border: none;
  border-top: 3px solid #141e30;
}

textarea {
  width: 50%;
  font-size: 20px;
  resize: none; /*blokujemy możliwość zmiany wielkości przez użytkownika*/
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #141e30;
  border-radius: 4px;
}

label {
  display: block; /*dodajemy żeby można było ustawić marginesy*/
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

#btnSubmit {
  background-color: #65e67a;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  width: 53%;
  color: white;
  transition-duration: 0.5s;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #243b55,
    #141e30
  ); /* Chrome 10-25,     Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.aktualnoci-background{
  
  font-family: 'Roboto', sans-serif;
}
.aktualnosci{
  
  background-color: 
 #000000
}
